# ==============================
# ENTORNOS VIRTUALES
# ==============================

venv/
.venv/


# ==============================
# PYTHON
# ==============================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==============================
# VARIABLES DE ENTORNO
# ==============================

.env
.env.*


# ==============================
# EDITORES
# ==============================

.vscode/
.idea/


# ==============================
# ARCHIVOS TEMPORALES
# ==============================

*.log
*.tmp


# ==============================
# SISTEMA OPERATIVO
# ==============================

.DS_Store
Thumbs.db


node_modules

node_modules/
